html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background: #353535;
}

h1 {
  color: gold;
  margin-left: 75px;
}

p {
  color: white;
}

.ticket-value {
  position: relative;
  top: 0;
  left: 0;
  float: left;
  color: white;
}

.instructions {
  display: inline-flex;
  padding: 15px;
}

.winning-symbols img {
  height: 50px;
}

.scratchpad {
  width: 100px;
  height: 100px;
  margin:0 auto;
}

.scratchpad img {
  padding: 20px;
  background-color: #ececec;
}

#prize.scratchpad {
  width: 300px;
  height: 100px;
  margin:0 auto;
}

#prize.scratchpad img {
  padding: 0;
}

.scratch-container {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 auto;
  padding:  15px;
  background-color: black;
  width: 500px;
}

.prize-container {
  margin: 0 auto;
  padding:  15px;
}

#ticket-container {
  background-color: green;
  width: 750px;
  padding: 25px;
  border: 3px solid gold;
}

@media only screen and (max-width : 480px) {
  .scratchpad {width:400px;height:396px;}
  .scratch-container {width:400px !important;}
}
 
/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
  .scratchpad {width:290px;height:287px;}
  .scratch-container {width:290px !important;}
}

.promo-container {
	background:#FFF;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	width:450px;
	padding:20px;
	margin:0 auto;
	text-align:center;
	font-family:'Open Sans', Arial,Sans-serif;
	color:#333;
	font-size:16px;
	margin-top:20px;
}

.btn {
  background:#56CFD2;
  color:#FFF;
  padding:10px 25px;
  display:inline-block;
  margin-top:15px;
  text-decoration:none;
  font-weight:600;
  text-transform:uppercase;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radiuss:3px;
}